<!DOCTYPE html>
<html>
<head>
  <title>What genre?</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <link rel="shortcut icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <nav>
    <a href="/"><div class="navbar-logo"><h1>| What genre?</h1></div></a><a href="https://github.com/khendrikse/whatgenre"><p>Check on GitHub</p></a>
  </nav>
  <section id="first-section" class="flex-container" style="background-image:linear-gradient(transparent,#000), linear-gradient(90deg,<%= session[:color1] %>,<%= session[:color2] %>);">
    <div class="flex-item welcome-message">
      <h3>Start browsing</h3><h1>your music taste.</h1><h2>What's your favourite artist's genre?</h2>
    </div>
    <div class="flex-item search-block">
      <% if @check == false %>
      <p>Oops! We couldn't find a genre for this artist in Spotify's database!</p>
      <% else %>
      <br>
      <% end %>
      <form action='/genres#genres' method='post'>
        <input name='artist' placeholder="Type artist's name"><button style="background-color: <%= session[:color1] %>;" type='submit'>CLICK!</button>
      </form>
    </div>
  </section>
  <section id="genres" class="flex-container">
    <div class="top flex-container">
      <div class="flex-item genres-list">
        <%= if @check == true
          @artist.genres.map { |genre| "<form action='/related?genre=#{CGI.escape (genre)}&artist=#{@artist.name}#related' method='post'><button type='submit'>#{genre}</button></form>"}.join("")
        end %>
      </div>
      <div class="flex-item artist-info">
        <h3>These are</h3>
        <h1><%=@artist.name %>'s genres</h1><br>
        <h2>Click on a genre to find other artists.</h2><br>
        <iframe src="https://open.spotify.com/embed?uri=spotify:artist:<%= session[:id] %>&view=list" width="250" height="100" frameborder="0" allowtransparency="true"></iframe>
        <iframe src='https://open.spotify.com/follow/1/?uri=spotify:artist:<%= session[:id] %>&size=basic&theme=dark' width="250" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
      </div>
    </div>
    <div class="color1" style="background-image:linear-gradient(#000,transparent); background-color: <%= session[:color1] %>;">
      <div class="color2" style="background-image:linear-gradient(#000,transparent); background-color: <%= session[:color2] %>;"></div>
      <div class="image" style="background-image: url(<%= @image %>)"></div>
    </div>
  </section>
</body>
</html>
