<!DOCTYPE html>
<html>
  <head>
    <title>What genre?</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="top">
      <h1>What's <% if @input.empty? || @check == false %>this artist's
        <% else %>
        <%=@input %>'s
        <% end %>
        genre?
      </h1>
      <div class="input-field">
        <form action='/' method='post'>
          <div><input name='artist' placeholder="artist"></div>
          <div><button type='submit'>Clickity Click!</button></div>
        </form>
      </div>
      <div>
        <% if @check == true %>
        <h2>According to Spotify, <%=@input %>'s genres are:</h2>
        <% elsif @check == false %>
        <h2>Oops, maybe try again?</h2>
        <% end %>
        <%= if @check == true
          @genres.map { |genre| "<p> #{genre} </p>"}.join("")
        end %>
      </div>
    </div>
    <%= tag(:div, :class => 'color1', :style => "background-color: #{@color1};") %>
    <%= tag(:div, :class => 'color2', :style => "background-color: #{@color2};") %></div>
    <%= tag(:div, :class => 'image', :style => "background-image: url(#{@image});") %></div>
  </body>
</html>
